.elementor-101 .elementor-element.elementor-element-8265d83{--display:flex;--position:fixed;--min-height:70px;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;top:0px;--z-index:30;}body:not(.rtl) .elementor-101 .elementor-element.elementor-element-8265d83{left:0px;}body.rtl .elementor-101 .elementor-element.elementor-element-8265d83{right:0px;}.elementor-101 .elementor-element.elementor-element-c030621{--display:flex;--min-height:40px;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;}.elementor-101 .elementor-element.elementor-element-c030621:not(.elementor-motion-effects-element-type-background), .elementor-101 .elementor-element.elementor-element-c030621 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-primary );}.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after{border-color:var( --e-global-color-text );}.elementor-widget-icon-list .elementor-icon-list-icon i{color:var( --e-global-color-primary );}.elementor-widget-icon-list .elementor-icon-list-icon svg{fill:var( --e-global-color-primary );}.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item > a{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-icon-list .elementor-icon-list-text{color:var( --e-global-color-secondary );}.elementor-101 .elementor-element.elementor-element-12080e7 .elementor-icon-list-icon i{color:var( --e-global-color-12d9690 );transition:color 0.3s;}.elementor-101 .elementor-element.elementor-element-12080e7 .elementor-icon-list-icon svg{fill:var( --e-global-color-12d9690 );transition:fill 0.3s;}.elementor-101 .elementor-element.elementor-element-12080e7{--e-icon-list-icon-size:14px;--icon-vertical-offset:0px;}.elementor-101 .elementor-element.elementor-element-12080e7 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-101 .elementor-element.elementor-element-12080e7 .elementor-icon-list-item > a{font-family:"Plus Jakarta Sans", Sans-serif;font-size:16px;font-weight:400;}.elementor-101 .elementor-element.elementor-element-12080e7 .elementor-icon-list-text{color:#FFFFFF;transition:color 0.3s;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-size:var( --e-global-typography-primary-font-size );font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-101 .elementor-element.elementor-element-1e34f6f > .elementor-widget-container{background-color:#FFFFFF;padding:4px 24px 4px 24px;border-radius:90px 90px 90px 90px;}.elementor-101 .elementor-element.elementor-element-1e34f6f .elementor-heading-title{font-family:"Plus Jakarta Sans", Sans-serif;font-size:14px;font-weight:400;color:var( --e-global-color-primary );}.elementor-101 .elementor-element.elementor-element-a710e95{--display:flex;--min-height:70px;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;}.elementor-101 .elementor-element.elementor-element-a710e95:not(.elementor-motion-effects-element-type-background), .elementor-101 .elementor-element.elementor-element-a710e95 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-eb44bc9 );}.elementor-101 .elementor-element.elementor-element-3bc97fe{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--align-items:center;}.elementor-101 .elementor-element.elementor-element-1e32d82{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-start;--align-items:center;}.elementor-widget-theme-site-logo .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );}.elementor-101 .elementor-element.elementor-element-411b394{width:var( --container-widget-width, 120px );max-width:120px;--container-widget-width:120px;--container-widget-flex-grow:0;}.elementor-101 .elementor-element.elementor-element-411b394 img{width:100%;}.elementor-widget-nav-menu .elementor-nav-menu .elementor-item{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-size:var( --e-global-typography-primary-font-size );font-weight:var( --e-global-typography-primary-font-weight );}.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item{color:var( --e-global-color-text );fill:var( --e-global-color-text );}.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:hover,
					.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:focus{color:var( --e-global-color-accent );fill:var( --e-global-color-accent );}.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:var( --e-global-color-accent );}.elementor-widget-nav-menu .e--pointer-framed .elementor-item:before,
					.elementor-widget-nav-menu .e--pointer-framed .elementor-item:after{border-color:var( --e-global-color-accent );}.elementor-widget-nav-menu{--e-nav-menu-divider-color:var( --e-global-color-text );}.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item, .elementor-widget-nav-menu .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-menu-toggle{margin:0 auto;background-color:#02010100;}.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-nav-menu .elementor-item{font-family:"Plus Jakarta Sans", Sans-serif;font-size:16px;font-weight:500;}.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-nav-menu--main .elementor-item{color:var( --e-global-color-text );fill:var( --e-global-color-text );padding-left:13px;padding-right:13px;}.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-nav-menu--main .elementor-item.elementor-item-active{color:var( --e-global-color-70e3d06 );}.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-nav-menu--dropdown a, .elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-menu-toggle{color:var( --e-global-color-text );fill:var( --e-global-color-text );}.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-nav-menu--dropdown{background-color:var( --e-global-color-eb44bc9 );}.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-nav-menu--dropdown a:hover,
					.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-nav-menu--dropdown a:focus,
					.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-nav-menu--dropdown a.highlighted,
					.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-menu-toggle:hover,
					.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-menu-toggle:focus{color:var( --e-global-color-primary );}.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-nav-menu--dropdown a:hover,
					.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-nav-menu--dropdown a:focus,
					.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-nav-menu--dropdown a.highlighted{background-color:#E61F931A;}.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-nav-menu--dropdown a.elementor-item-active{color:var( --e-global-color-primary );background-color:#E61F931A;}.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-nav-menu--dropdown li:not(:last-child){border-style:none;border-bottom-width:1px;}.elementor-101 .elementor-element.elementor-element-d2d3450 div.elementor-menu-toggle{color:var( --e-global-color-text );}.elementor-101 .elementor-element.elementor-element-d2d3450 div.elementor-menu-toggle svg{fill:var( --e-global-color-text );}.elementor-101 .elementor-element.elementor-element-d2d3450 div.elementor-menu-toggle:hover, .elementor-101 .elementor-element.elementor-element-d2d3450 div.elementor-menu-toggle:focus{color:var( --e-global-color-primary );}.elementor-101 .elementor-element.elementor-element-d2d3450 div.elementor-menu-toggle:hover svg, .elementor-101 .elementor-element.elementor-element-d2d3450 div.elementor-menu-toggle:focus svg{fill:var( --e-global-color-primary );}.elementor-widget-search{--e-search-input-color:var( --e-global-color-text );}.elementor-widget-search.e-focus{--e-search-input-color:var( --e-global-color-text );}.elementor-widget-search .elementor-pagination{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-size:var( --e-global-typography-primary-font-size );font-weight:var( --e-global-typography-primary-font-weight );}.elementor-101 .elementor-element.elementor-element-ebba9b1 .e-search-input{background-color:#E8E8E8;font-family:"Plus Jakarta Sans", Sans-serif;font-size:16px;border-style:none;border-radius:90px 90px 90px 90px;}.elementor-101 .elementor-element.elementor-element-ebba9b1{width:var( --container-widget-width, 360px );max-width:360px;--container-widget-width:360px;--container-widget-flex-grow:0;--e-search-input-padding-block-start:8px;--e-search-input-padding-inline-start:24px;--e-search-input-padding-block-end:8px;--e-search-input-padding-inline-end:060px;--e-search-submit-margin-inline-start:-60px;}.elementor-101 .elementor-element.elementor-element-adc797a.elementor-element{--flex-grow:1;--flex-shrink:0;}.elementor-101 .elementor-element.elementor-element-77ddf45{--display:flex;}.elementor-theme-builder-content-area{height:400px;}.elementor-location-header:before, .elementor-location-footer:before{content:"";display:table;clear:both;}@media(max-width:1024px){.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item > a{font-size:var( --e-global-typography-text-font-size );}.elementor-widget-heading .elementor-heading-title{font-size:var( --e-global-typography-primary-font-size );}.elementor-101 .elementor-element.elementor-element-1e32d82{--gap:8px 8px;--row-gap:8px;--column-gap:8px;}.elementor-widget-theme-site-logo .widget-image-caption{font-size:var( --e-global-typography-text-font-size );}.elementor-widget-nav-menu .elementor-nav-menu .elementor-item{font-size:var( --e-global-typography-primary-font-size );}.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-nav-menu--dropdown a{padding-left:49px;padding-right:49px;padding-top:8px;padding-bottom:8px;}.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:16px !important;}.elementor-101 .elementor-element.elementor-element-d2d3450{--nav-menu-icon-size:24px;}.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-menu-toggle{border-width:0px;}.elementor-widget-search .elementor-pagination{font-size:var( --e-global-typography-primary-font-size );}.elementor-101 .elementor-element.elementor-element-ebba9b1{--container-widget-width:60%;--container-widget-flex-grow:0;width:var( --container-widget-width, 60% );max-width:60%;}}@media(min-width:768px){.elementor-101 .elementor-element.elementor-element-8265d83{--width:100%;}.elementor-101 .elementor-element.elementor-element-c030621{--content-width:1240px;}.elementor-101 .elementor-element.elementor-element-a710e95{--width:100%;}.elementor-101 .elementor-element.elementor-element-3bc97fe{--width:90%;}.elementor-101 .elementor-element.elementor-element-1e32d82{--width:100%;}}@media(max-width:767px){.elementor-101 .elementor-element.elementor-element-8265d83{--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--z-index:50;}.elementor-101 .elementor-element.elementor-element-c030621{--min-height:32px;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--gap:2px 2px;--row-gap:2px;--column-gap:2px;--flex-wrap:wrap;--padding-top:8px;--padding-bottom:14px;--padding-left:0px;--padding-right:0px;}.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item > a{font-size:var( --e-global-typography-text-font-size );}.elementor-widget-heading .elementor-heading-title{font-size:var( --e-global-typography-primary-font-size );}.elementor-101 .elementor-element.elementor-element-1e34f6f > .elementor-widget-container{padding:8px 16px 8px 16px;border-radius:90px 90px 90px 90px;}.elementor-101 .elementor-element.elementor-element-1e34f6f .elementor-heading-title{font-size:16px;}.elementor-101 .elementor-element.elementor-element-a710e95{--min-height:0px;--padding-top:4px;--padding-bottom:4px;--padding-left:0px;--padding-right:0px;}.elementor-101 .elementor-element.elementor-element-3bc97fe{--justify-content:flex-start;--gap:8px 8px;--row-gap:8px;--column-gap:8px;--padding-top:8px;--padding-bottom:8px;--padding-left:0px;--padding-right:0px;}.elementor-101 .elementor-element.elementor-element-1e32d82{--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:center;}.elementor-widget-theme-site-logo .widget-image-caption{font-size:var( --e-global-typography-text-font-size );}.elementor-101 .elementor-element.elementor-element-411b394{--container-widget-width:70px;--container-widget-flex-grow:0;width:var( --container-widget-width, 70px );max-width:70px;}.elementor-widget-nav-menu .elementor-nav-menu .elementor-item{font-size:var( --e-global-typography-primary-font-size );}.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-nav-menu--dropdown a{padding-left:24px;padding-right:24px;}.elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-101 .elementor-element.elementor-element-d2d3450 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:15px !important;}.elementor-widget-search .elementor-pagination{font-size:var( --e-global-typography-primary-font-size );}.elementor-101 .elementor-element.elementor-element-ebba9b1{width:var( --container-widget-width, 100px );max-width:100px;--container-widget-width:100px;--container-widget-flex-grow:0;--e-search-input-padding-block-start:0px;--e-search-input-padding-inline-start:8px;--e-search-input-padding-block-end:0px;--e-search-input-padding-inline-end:8px;--e-search-icon-label-size:20px;--e-search-input-gap:0px;}.elementor-101 .elementor-element.elementor-element-ebba9b1.elementor-element{--flex-grow:1;--flex-shrink:0;}.elementor-101 .elementor-element.elementor-element-ebba9b1 .e-search-input{font-size:14px;}.elementor-101 .elementor-element.elementor-element-adc797a.elementor-element{--flex-grow:0;--flex-shrink:0;}}/* Start custom CSS for container, class: .elementor-element-1e32d82 */@media(max-width: 767px){
    .elementor-101 .elementor-element.elementor-element-1e32d82{
        max-width: fit-content;
    }
}/* End custom CSS */
/* Start custom CSS for search, class: .elementor-element-ebba9b1 */.elementor-widget-search .e-search-form {
    display: flex;
    flex-direction: row-reverse;
}
input#search-ebba9b1 {
    padding: 0px 16px; !important;
}
.elementor-widget-search .e-search-label {
    display: flex;
    position: absolute;
    right: 24px !important;
    z-index: 10;
    width: 40px;
    height: 40px;
}
.elementor-101 .elementor-element.elementor-element-ebba9b1 .e-search-submit{
    height: 40px
}
.elementor-widget-search .e-search .e-search-submit>i, .elementor-widget-search .e-search .e-search-submit>svg {
    margin-inline-end: 0;
}
.elementor-101 .elementor-element.elementor-element-ebba9b1 .e-search-input{
    height: 40px !important;
}
.e-search-submit{
    z-index: 2;
}
.elementor-widget-search .e-search .e-search-submit>i, .elementor-widget-search .e-search .e-search-submit>svg {
    margin-inline-end: 0;
}
@media(max-width: 767px){
    .elementor-widget-search .e-search-label {
    right: 0px !important;
}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-77ddf45 */.elementor-101 .elementor-element.elementor-element-77ddf45{
    opacity: 0;
}/* End custom CSS */
/* Start custom CSS */.elementor-101.elementor-widget-search-form{
    width: 268px !important;
}
.elementor-search-form__container{
    display: flex !important;
    flex-direction: row-reverse;
    align-content: center;
    padding: 8px 16px;
}
body:not(.rtl) .elementor-101 .elementor-element.elementor-element-fdfb7ef .elementor-search-form__icon {
    padding-left: 0 !important;
}
.elementor-101 .elementor-element.elementor-element-fdfb7ef input[type="search"].elementor-search-form__input {
    padding: 0 !important;
}

.ccicon-cart {
  background: url('../images/carrinho.svg') no-repeat center center;
  background-size: contain;
  display: inline-block;
  width: 24px;  /* ajuste o tamanho conforme necessário */
  height: 24px;
  mask: none;
  -webkit-mask: none;
  color: transparent; /* remove cor herdada, se houver */
  font-size: 0 !important; /* esconde ícone de fonte, se tiver */
  line-height: 0;
}
/*contador do carrinho*/
span.cc_cart_count {
    padding: 1px 8px;
    background-color: #E61F93;
    border-radius: 90px;
    color: white;
    position: absolute;
    top: -4px;
    right: -4px;
    font-size: 12px;
}
/*limpar margem carrinho*/
.cc_cart_items_list i, .cc_saved_items_list i {
    margin-right: 0 !important;
}
/*Botão carrinho*/
a.cc_cart_items_list, a.cc_saved_items_list {
    display: flex !important;
    align-items: center;
    padding: 8px 16px;
    border: solid 1px #E61F931A;
    border-radius: 90px;
}
/*limpar margem contador*/
span.cc_cart_count {
    margin-left: 0;
}
/*carrinho header*/
.cc_cart_items_list{
    transition: 0.5s;
}
/*animação carrinho header*/
.cc_cart_items_list:hover{
    transform: scale(1.05)
}
/*carrinho flutuante*/
.cc-compass{
    display: none;
}
/*botões de add e menos*/
.cc_item_quantity_update:hover{
    background-color: #E61F93 !important;
    border: none !important;
}
/*botão checkout*/
.cc-cart-actions a.cc-button-primary {
    background-color: #E61F93;
    border-radius: 90px;
    color: #F7F7F7;
}
/*Botão carrinho vazio*/
.cc-window .cc-empty-msg a.cc-button {
    font-family: "Plus Jakarta Sans";
    background-color: transparent;
    border-radius: 90px;
    color: #E61F93 !important;
    max-width: 320px;
}
/*Botão carrinho vazio hover*/
.cc-window .cc-empty-msg a.cc-button:hover {
    background-color: #E61F931A;
    color: #E61F93 !important;
}
/*Botão cta animação corrigir*/
.cc-cart-actions a.cc-button-primary:hover {
    background-color: #E61F93;
    color: #F7F7F7;
    padding-left: 8px;
}
/*preço total por item*/
.cc_item_total_price .price span.amount {
    color: #E61F93;
    font-weight: 500;
    font-size: 18px;
}
/*nome do produto*/
.cc_item_title{
    margin: unset !important;
}
.cc_item_title a{
    display: block;
    line-height: 1;
    font-size: 16px;
    font-weight: 400;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap;
}
.cc_item_content{
    max-width: calc(100% - 132px) !important;
}
.cc-item-content-top{
    display: flex !important;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cc-product-thumb img{
    maring: unset;
}
.cc-cart-product{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
/*box de resumo*/
.cc-cart-actions .cc-totals .cc-total-box {
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
}
/*sub-box do resumo*/
.cc-cart-actions .cc-totals .cc-total-text {
    width: 100% !important;
    
}
/*ocultar items salvos*/
.cc-nav li:last-child {
    display: none;
}
.cc-empty-msg {
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    height: 100%;
}
.cc-title{
    font-size: 32px !important;
    font-family: "Plus Jakarta Sans";
}
.st-carrinhovazio{
    max-width: 300px;
    color: #383838;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
}
.cc-window .cc-nav ul li a[aria-selected="true"] {
    border-bottom: 3px solid #E61F93;
}
/*sidebar completa*/
.cc-window {
    background-color: #F7F7F7 !important;
}
.cc-window-wrapper{
    font-family: "Plus Jakarta Sans";
}
/*adicionar quantidade item*/
.cc_item_quantity_plus {
    border-radius: 90px;
    border: 1px solid #383838;
    padding: 4px 8px 8px 8px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
/*remover quantidade item*/
.cc_item_quantity_minus {
    border-radius: 90px;
    border: 1px solid #383838;
    padding: 4px 8px 8px 8px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
/*quantidade item*/
.cc_item_quantity_wrap input.cc_item_quantity {
    border-width: 0px 0px !important;
    appearance: none;
    font-weight: 400;
    box-shadow: none;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    background: none;
    outline: 0px;
    border-radius: 0;
}
.cc-fs-icon{
    display: none !important;
}
.cc-fs-country{
    display: none;
}
.cc-fs{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    background-color: #F7F7F7 !important;
}
.cc-coupon{
    display: none;
}
.cc-fs-amount{
    display: none !important;
}

/*responsividade mobile*/
@media(max-width: 767px){
    .elementor-101.elementor-widget-search-form{
        width: 220px !important;
    }
}/* End custom CSS */